body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: #636e72;
    padding-left: 30px;
    background-color: #e0ffff;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    font-weight: normal;
}

a:link, visited {
    text-decoration: none;
    color: #6c5ce7;
}

a:hover {
    background-color: #a29bfe;
    color: white;
    border-radius: 25px;
    padding: 5px;
}

table, th, td {
    border: 2px solid #636e72;
    border-collapse: collapse;
}

table {
    margin: auto;
    background-color: #dfe6e9;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
}

table th {
    background-color: #dfe6e9;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color: #dfe6e9;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

td.pass {
    background-color: #00b894;
    color: #e0ffff;
}

td.fail {
    background-color: #d63031;
    color: #e0ffff;
}


#nav_bar {
    border: none;
    margin: 5px;
    text-align: left;
}

#nav_bar td {
    background-color: #e0ffff;
    border: none;
    padding-right: 30px;
}

#results caption {
    font-weight: bold;
}

button, input[type=submit] {
    border-radius: 10px;
    padding: 5px;
    background-color: #b2bec3;
    border-top-color: #dfe6e9;
    border-left-color: #dfe6e9;
    border-bottom-color: #636e72;
    border-right-color: #636e72;
}

input[type=submit] {
    margin-left: 100px;
}

button:hover, input[type=submit]:hover {
    background-color: #636e72;
    color: #dfe6e9;
}

button[disabled]:hover {
    background-color: #b2bec3;
    color: inherit;
}

.execution {
    display: flex;
    justify-content: center;
}

.execution button {
    margin-right: 5px;
    margin-left: 5px;
}

.register_form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 15px;
}

.register_form {
    margin-left: 30px;
}

dt label{
	width: 100%;
}