[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"pywin32" = {git = "git://github.com/mhammond/pywin32"}
flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
wtforms = "*"
flask-wtf = "*"


[dev-packages]



[requires]

python_version = "3.6"
