[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
wtforms = "*"
flask-wtf = "*"
Flask-Admin = {git = "git://github.com/flask-admin/flask-admin"}


[dev-packages]



[requires]

python_version = "3.6"
